$primary-white:#FFFFFF;
$primary-orange:#F79434;
$primary-black:#000000;
$secondary-grey:#DDDDDD;
$secondary-lightgrey:#E5E5E5;
$primary-grey:grey;
$primary-blue:#3f51b5;
$primary-lightgrey:#E6E6E6;
$primary-yellow:yellow;
$font-lg:1.25rem;
$font-md:1rem;
$font-sm:0.875rem;
$font-xs:0.75rem;
$font-xxs:0.625rem;
